In [ ]:
import pandas as pd
df=pd.read_csv('/content/framingham (1).csv')
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
df.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
df.drop(['education'],axis=1,inplace=True)
df

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
df['cigsPerDay']=df['cigsPerDay'].fillna(df['cigsPerDay']).mode()[0]
df['BPMeds']=df['BPMeds'].fillna(df['BPMeds']).mode()[0]
df['BMI']=df['BMI'].fillna(df['BMI']).mean()
df['totChol']=df['totChol'].fillna(df['totChol']).mode()[0]
df['glucose']=df['glucose'].fillna(df['glucose']).mean()
df['heartRate']=df['heartRate'].fillna(df['heartRate']).mode()[0]
df

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,240.0,106.0,70.0,25.800801,75.0,81.963655,0
1,0,46,0,0.0,0.0,0,0,0,240.0,121.0,81.0,25.800801,75.0,81.963655,0
2,1,48,1,0.0,0.0,0,0,0,240.0,127.5,80.0,25.800801,75.0,81.963655,0
3,0,61,1,0.0,0.0,0,1,0,240.0,150.0,95.0,25.800801,75.0,81.963655,1
4,0,46,1,0.0,0.0,0,0,0,240.0,130.0,84.0,25.800801,75.0,81.963655,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,0.0,0.0,0,0,0,240.0,131.0,72.0,25.800801,75.0,81.963655,0
4236,0,44,1,0.0,0.0,0,0,0,240.0,126.5,87.0,25.800801,75.0,81.963655,0
4237,0,52,0,0.0,0.0,0,0,0,240.0,133.5,83.0,25.800801,75.0,81.963655,0
4238,1,40,0,0.0,0.0,0,1,0,240.0,141.0,98.0,25.800801,75.0,81.963655,0
4239,0,39,1,0.0,0.0,0,0,0,240.0,133.0,86.0,25.800801,75.0,81.963655,0

In [ ]:
df.isna().sum()

male               0
age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [ ]:
X=df.iloc[:,:-1]
X

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,0,0.0,0.0,0,0,0,240.0,106.0,70.0,25.800801,75.0,81.963655
1,0,46,0,0.0,0.0,0,0,0,240.0,121.0,81.0,25.800801,75.0,81.963655
2,1,48,1,0.0,0.0,0,0,0,240.0,127.5,80.0,25.800801,75.0,81.963655
3,0,61,1,0.0,0.0,0,1,0,240.0,150.0,95.0,25.800801,75.0,81.963655
4,0,46,1,0.0,0.0,0,0,0,240.0,130.0,84.0,25.800801,75.0,81.963655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,0.0,0.0,0,0,0,240.0,131.0,72.0,25.800801,75.0,81.963655
4236,0,44,1,0.0,0.0,0,0,0,240.0,126.5,87.0,25.800801,75.0,81.963655
4237,0,52,0,0.0,0.0,0,0,0,240.0,133.5,83.0,25.800801,75.0,81.963655
4238,1,40,0,0.0,0.0,0,1,0,240.0,141.0,98.0,25.800801,75.0,81.963655
4239,0,39,1,0.0,0.0,0,0,0,240.0,133.0,86.0,25.800801,75.0,81.963655

In [ ]:
y=df.iloc[:,-1]
y

0       0
1       0
2       0
3       1
4       0
       ..
4235    0
4236    0
4237    0
4238    0
4239    0
Name: TenYearCHD, Length: 4240, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)
X

array([[ 1.15311332e+00, -1.23428297e+00, -9.88276265e-01, ...,
         7.10542736e-15,  0.00000000e+00,  1.42108547e-14],
       [-8.67217456e-01, -4.17664190e-01, -9.88276265e-01, ...,
         7.10542736e-15,  0.00000000e+00,  1.42108547e-14],
       [ 1.15311332e+00, -1.84344537e-01,  1.01186281e+00, ...,
         7.10542736e-15,  0.00000000e+00,  1.42108547e-14],
       ...,
       [-8.67217456e-01,  2.82294768e-01, -9.88276265e-01, ...,
         7.10542736e-15,  0.00000000e+00,  1.42108547e-14],
       [ 1.15311332e+00, -1.11762315e+00, -9.88276265e-01, ...,
         7.10542736e-15,  0.00000000e+00,  1.42108547e-14],
       [-8.67217456e-01, -1.23428297e+00,  1.01186281e+00, ...,
         7.10542736e-15,  0.00000000e+00,  1.42108547e-14]])

In [ ]:
from sklearn.decomposition import PCA
pca=PCA()
X=pca.fit_transform(X)
X

array([[-1.86819161, -0.04901593,  0.20093029, ...,  0.        ,
        -0.        ,  0.        ],
       [-0.70499508,  1.24063568, -0.36201179, ..., -0.        ,
        -0.        , -0.        ],
       [-0.85830802, -1.33288967,  0.23555038, ...,  0.        ,
        -0.        ,  0.        ],
       ...,
       [-0.06862834,  1.34433355, -0.27508669, ...,  0.        ,
         0.        , -0.        ],
       [ 1.3958509 , -0.89304696, -0.4338866 , ..., -0.        ,
        -0.        , -0.        ],
       [-0.76566038, -0.41578036, -0.639841  , ...,  0.        ,
         0.        , -0.        ]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.8364779874213837

In [ ]:
pca.explained_variance_ratio_

array([3.30372189e-01, 1.52832511e-01, 1.25583162e-01, 1.24143381e-01,
       1.05367705e-01, 9.08584708e-02, 4.87228240e-02, 2.21197576e-02,
       5.71287515e-34, 9.41221750e-35, 6.53360298e-68, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00])